<div class="feed-container">
  <% if(currentUser) { %>
  <a href="/message">
    <button class="post-message-button">Post a Message</button>
  </a>
  <% } %> <% if (messages) { %> <% messages.forEach((message) => { %>
  <div class="card">
    <% if(currentUser && currentUser.isAdmin) { %>
    <form action="/message/delete" method="post">
      <input type="hidden" name="messageId" value="<%= message._id %>" />
      <button type="submit" id="kill-button">X</button>
    </form>
    <% } %>
    <p>Posted by <%= `${message.user.firstName} ${message.user.lastName}` %></p>
    <p>Date: <%= message.timestamp.toLocaleString() %></p>
    <p>Subject: <%= message.title %></p>
    <p>Text: <%= message.text %></p>
  </div>
  <% }) %> <% } %>
</div>
